# Files to be added
FrameFlowBeta.code-workspace

# Pycache files
__pycache__/

# Linking file, will see what to do with it later
mklink
rmlink

# Exclude old sub_panels directory (now using abstracted single file)
sub_panels/
